body {
  margin: 0px 500px;
  background-color: black;
}
p {
  color: rgb(84, 199, 7);
  font-size: large;
}
ol {
  color:  rgb(84, 199, 7); 
}
ul {
  color : rgb(84, 199, 7);
}
h1{
  color: white;
}
h3 {
  color: white;
}